<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobsandgeeks.keylines.sdk">

    <uses-permission android:name="com.mobsandgeeks.keylines.permission.USE_KEYLINES" />

    <application>

        <provider
            android:authorities="${applicationId}.ignition"
            android:exported="false"
            android:enabled="true"
            android:name=".KeylinesIgnition" />

    </application>

</manifest>
